$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

main {
  padding-top: 50px;
};
#pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      };
.auth-instruction {
  font-family: cursive;
  padding-bottom: 15px;
  text-align: center;
};

.post-response-container {
  color: red;
};

.patch-response-container {
  color: red;
};


#map {
  position: fixed;
  height: 100vh;
  // top:50px;
};

.delete-goal-container {
  padding-top: 20px;
};

.patch-goal {
  margin-top: 20px;
};

.post-goal {
  margin-top: 20px;
};

.create-description-field {
  height: 60px;
  width: 550px;
};

.create-title-field {
  width: 550px;
};

.click-description-field {
  height: 60px;
  width: 550px;
};

.click-title-field {
  width: 550px;
};

.response-container {
  color: red;
  border-color: black;
};
