$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

main {
  padding-top: 50px;
};

.auth-instruction {
  font-family: cursive;
  padding-bottom: 15px;
  text-align: center;
};

#map {
  height: 800px;
};

.delete-goal-container {
  padding-top: 20px;
};

.patch-goal {
  margin-top: 20px;
};

.post-goal {
  margin-top: 20px;
};

.create-description-field {
  height: 60px;
  width: 550px;
};

.create-title-field {
  width: 550px;
};

.click-description-field {
  height: 60px;
  width: 550px;
};

.click-title-field {
  width: 550px;
};

.response-container {
  color: red;
  border-color: black;
};
